# Import

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

# Code

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv")

In [3]:
data

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [4]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [5]:
data["language"].value_counts()

language
Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: count, dtype: int64

In [6]:
datac = data.copy()

In [38]:
datac[datac["language"] == "Japanese"]

                                                    Text  language
5      エノが行きがかりでバスに乗ってしまい、気分が悪くなった際に助けるが、今すぐバスを降りたいと運...  Japanese
9      シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校に...  Japanese
33     藤女の女性教師。歳。数学担当。風紀指導を担当しており、リコにとっては天敵。藤女とその伝統に強...  Japanese
45     教会旋法はまず終止音（finalis）によってつに分類される。そしてそれぞれが音域（ambi...  Japanese
79     「mgr」という愛称で知られるm・g・ラーマチャンディランが、アンナードゥライの死後、ドラー...  Japanese
...                                                  ...       ...
21910  当駅番ホームの南側には、大阪市営地下鉄でかつて（年代頃まで）使われていた「ひげ文字」と通称さ...  Japanese
21931  ae形（代） - 代目スカイライナー用車両。年度から年度にかけて両編成を製造。車両デザインは...  Japanese
21935  設立当初より文系学部を「広小路学舎（中京区）」に、理工系学部を「等持院学舎（現・衣笠）」に置...  Japanese
21941  小岩・中山（下総中山）・西船（西船橋）・津田沼・佐倉・酒々井・曳舟・稲毛の各駅は、同名駅（ま...  Japanese
21986  mozilla add-ons は、mozilla firefox、mozilla thun...  Japanese

[1000 rows x 2 columns]

In [8]:
x = np.array(data["Text"])
y = np.array(data["language"])

In [23]:
cv = CountVectorizer()
X = cv.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(X,y,random_state=12213,test_size=0.2)

In [24]:
model = MultinomialNB()
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.9554545454545454

In [47]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output[0])

Enter a Text:  dou zo you

Dutch