# Import

In [1]:
import sys
sys.path.append('../Packages/')

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

# Code

In [5]:
df = pd.read_csv(r'https://raw.githubusercontent.com/amankharwal/Website-data/master/ner_dataset.csv',encoding="unicode_escape")

In [7]:
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [8]:
from itertools import chain

def get_dict_map(data, token_or_tag):
    # token 2 index
    tok2idx = {}
    # index 2 token
    idx2tok = {}
    #if token_or_tag para is equal to token then take the word from the data and put it in list named vocab
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    # else take the tag and put it in vocab
    else:
        vocab = list(set(data['Tag'].to_list()))
    # enumerate through the vocab made, where the number in enumerate is key and the vocab element
    idx2tok = {idx:tok for idx, tok in enumerate(vocab)}
    # reverse the above step
    tok2idx = {tok:idx for idx, tok in enumerate(vocab)}
    # return the two dictionary
    return tok2idx, idx2tok

In [9]:
token2idx, idx2token = get_dict_map(df,'token')
tag2idx, idxtag = get_dict_map(df, 'tag')

In [11]:
df['Word_idx'] = df['Word'].map(token2idx)
df['Tag_idx'] = df['Tag'].map(tag2idx)
data_fillna= df.fillna(method='ffill',axis=0)

C:\Users\mahat\AppData\Local\Temp\ipykernel_31996\3498545326.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_fillna= df.fillna(method='ffill',axis=0)

In [12]:
data_group = data_fillna.groupby(['Sentence #'],as_index=False)['Word','POS', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))

ValueError: Cannot subset columns with a tuple with more than one element. Use a list instead.

In [6]:
def function(x):
    return 4*(x-3)

In [6]:
4 - (0.25*function(4))

3.0

In [7]:
def minimize(learning_rate,x):
    iterations = 1
    fx = x
    while function(fx) >= 0 and iterations <= 100:
        fx = fx - (learning_rate*function(fx))
        iterations += 1
    return fx

In [9]:
minimize(0.025,5)

3.000053122797775

"hello"