# Import

In [2]:
import os
import pandas as pd
import numpy as np
import plotly.express as px

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [42]:
from sklearn.naive_bayes import GaussianNB

In [50]:
from sklearn.metrics import accuracy_score, confusion_matrix

# Code

In [9]:
os.chdir(r"C:\Users\mahat\OneDrive\Desktop\IP\excel sheets")

In [10]:
df = pd.read_csv("./Personal-Loan.csv")

In [11]:
df

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [19]:
df[df["Personal Loan"] == 1]["Income"].mean()

144.74583333333334

In [23]:
df[df["Personal Loan"] == 0]["Income"].mean()

66.23738938053097

In [24]:
df.groupby("Personal Loan")["Income"].mean()

Personal Loan
0     66.237389
1    144.745833
Name: Income, dtype: float64

In [26]:
df.drop(["ID","ZIP Code"],axis=1,inplace=True)

In [27]:
df

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,28,4,83,3,0.8,1,0,0,0,0,1,1

In [29]:
x = df.drop("Personal Loan",axis=1)
y = df["Personal Loan"]

In [32]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,random_state=231,test_size=0.2)

In [36]:
model = GaussianNB()

In [39]:
treecl = DecisionTreeClassifier()

In [37]:
model.fit(xtrain,ytrain)

GaussianNB()

In [40]:
treecl.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [38]:
model.score(xtest,ytest)

0.889

In [41]:
treecl.score(xtest,ytest)

0.985

In [48]:
ypred = model.predict(xtest)

In [49]:
accuracy_score(ytest,ypred)

0.889

In [51]:
confusion_matrix(ytest,ypred)

array([[836,  71],
       [ 40,  53]], dtype=int64)